h1 {
    padding-left: 50px;
}

#interpretations_list {
    display: inline-block;
    padding-left: 50px;
    margin: 2px;
    font-size: medium;
    font-weight: bold;
}

#ncf_visualization {
    display: inline-block;
    width: 100%;
    font-size: medium;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}